@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

html,
body {
    background-color: black;
    font-family: 'Major Mono Display', monospace;
}

.time {
    color: white;
    text-align: center;
    font-size: 3rem;
}

.main-div {
    margin-top: 40vh;
}

footer {
    margin-top: 50vh;
    text-align: center;
}
