@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

html,
body {
    background-color: black;
    font-family: 'Major Mono Display', monospace;
}

.time {
    color: white;
    text-align: center;
    font-size: 4rem;
}

.main-div {
    margin-top: 20vh;
}

.change-div {
    text-align: center;
}

.change-btn {
    width: 100px;
    height: 50px;
    margin: 0 auto;
    margin-top: 7vh;
    background-color: transparent;
    border: none;
}

.change-btn svg {
    margin-left: -103px;
}

footer {
    margin-top: 38vh;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

::-moz-selection {
    color: red;
    background: yellow;
  }
  
::selection {
    color: red;
    background: yellow;
}
